body, html {
    height: 100%;
}
.bg {
    background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-347677.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#arena {
    text-align: center;
    /* height: 100%; */
}

.pillar {
    text-align: center;
}

.playerImage {
    /* height: 200px; */
    width: 100%;
}

.blankRow {
    height: 40%;
}

#fireRange{
  /* position: absolute; */
  /* top: 50px; */
  position: relative;
  text-align: left;
  left: -30px;
}

#weapon {
  /* position: absolute; */
  left: 0px;
  /* text-align: left; */
  height: 50px;
  width: 100px;
}

#blankPlayRow {
  height: 12px;
}

/* element{
  left: 0px;
  text-align: left;
} */